{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "jsx-a11y/control-has-associated-label": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "no-console": 0
  }
}
